    <tr style="display: none;">
        <th colspan="3">Session ID : <i id="curr-session"><%= session %></i></th>
    </tr>
    <tr>
        <th>ID of Sender</th>
        <th>Message</th>
        <th>Edit</th>
        <th>Date and Time</th>
        <th>Delete</th>
    </tr>
    <% for(let i=0; i< result.length; i++) { %>
      <tr>
          <td><%= result[i].id1 %></td>
          <td><%= result[i].msg %></td>
          <td>
            <% if(user1 == result[i].id1) { %>
                <input type="button" class="edit-msg edit-delete-msg" value="Edit" id="<%= result[i].uuid %>">
            <% } else { %>
                &#10060;
            <% } %>
          </td>
          <td><%= result[i].created %></td>
          <td>
            <% if(user1 == result[i].id1) { %>
                <input type="button" class="delete-msg edit-delete-msg" value="Delete" id="<%= result[i].uuid %>">
            <% } else { %>
                &#10060;
            <% } %>
          </td>
      </tr>
    <% } %>